#WebGL-output {
  overflow-x: hidden;
}
html {
  background: rgba(0, 0, 0, 1);
  color: #fff;
}
.banner-bg {
  background: url(../images/index/bg-banner.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.banner-bg h5 {
  position: absolute;
  color: #fff;
  font-size: clamp(3rem, 5.5vw, 6rem);
  line-height: clamp(3rem, 5.5vw, 6rem);
  bottom: 15%;
  left: 5%;
  margin-bottom: 0;
}
.section-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100vh;
}
.pace.pace-inactive {
  display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  height: 60px;
  width: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.pace::before {
  content: "";
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.pace .pace-progress {
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:before {
  content: attr(data-progress-text);
  text-align: center;
  color: #fff;
  background: #ff0000;
  border-radius: 50%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1;
  padding: 20% 0 7px;
  width: 50%;
  height: 40%;
  margin: 10px 0 0 30px;
  display: block;
  z-index: 999;
  position: absolute;
}

.pace .pace-activity {
  font-size: 15px;
  line-height: 1;
  z-index: 2000;
  position: absolute;
  height: 60px;
  width: 100px;

  display: block;
  -webkit-animation: pace-theme-center-atom-spin 2s linear infinite;
  -moz-animation: pace-theme-center-atom-spin 2s linear infinite;
  -o-animation: pace-theme-center-atom-spin 2s linear infinite;
  animation: pace-theme-center-atom-spin 2s linear infinite;
}

.pace .pace-activity {
  border-radius: 50%;
  border: 5px solid #ff0000;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
}

.pace .pace-activity:after {
  border-radius: 50%;
  border: 5px solid #ff0000;
  content: " ";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 60px;
  width: 100px;

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.pace .pace-activity:before {
  border-radius: 50%;
  border: 5px solid #ff0000;
  content: " ";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 60px;
  width: 100px;

  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

@-webkit-keyframes pace-theme-center-atom-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes pace-theme-center-atom-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes pace-theme-center-atom-spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@keyframes pace-theme-center-atom-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

/* Style the tab */
.video-tab {
  float: left;
  margin: 0 0px 0.2em 0;
  width: 43vw;
}

.video-tab h6 {
  color: white;
  border: 1.5px solid #fff;
  padding: 3px 8px;
  font-weight: 500;
  font-size: clamp(1rem, 1.6vw, 1.8rem);
  margin: 0;
  width: 150px;
  text-align: center;
}

/* Style the buttons inside the tab */
.video-tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 20%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
  // height: 280px;
  height: calc(100vh / 3);
  font-size: clamp(1.2rem, 2.5vw, 2.8rem);
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 2px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.video-tab button:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Create an active/current "tab button" class */
.video-tab button.active {
  background: rgba(255, 255, 255, 0.4);
}

/* Style the tab content */
.tabcontent {
  float: left;
  width: 55vw;
  padding-top: 8%;
  border-left: none;
  height: 300px;
  display: none;
  text-align: center;
}

.tabcontent.active {
  display: block;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 959px) {
  .section-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 1080px;
    height: auto;
  }
}
.section-direction .bgi {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 959px) {
  .section-direction .bgi {
    display: none;
  }
}
.section-direction .bgi:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.section-direction .bgi img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.section-direction .bgi img:not(:last-child) {
  position: absolute;
  opacity: 0;
}
.section-direction .direction__south:hover ~ .bgi img:nth-of-type(1),
.section-direction .direction__north:hover ~ .bgi img:nth-of-type(2),
.section-direction .direction__west:hover ~ .bgi img:nth-of-type(3),
.section-direction .direction__east:hover ~ .bgi img:nth-of-type(4),
.section-direction .direction__south.active ~ .bgi img:nth-of-type(1),
.section-direction .direction__north.active ~ .bgi img:nth-of-type(2),
.section-direction .direction__west.active ~ .bgi img:nth-of-type(3),
.section-direction .direction__east.active ~ .bgi img:nth-of-type(4) {
  opacity: 1;
}
@media screen and (max-width: 959px) {
  .section-direction [class*="direction__"] {
    height: 480px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-direction .direction__south {
    background-image: url(../images/index/bg-1-1.jpg);
  }
  .section-direction .direction__north {
    background-image: url(../images/index/bg-1-2.jpg);
  }
  .section-direction .direction__west {
    background-image: url(../images/index/bg-1-3.jpg);
  }
  .section-direction .direction__east {
    background-image: url(../images/index/bg-1-2.jpg);
  }
}

[class*="direction__"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  /*
  ** When mouse over '.direction__*' :
  ** 1. Change background-image.
  ** 2. '.trigger-btn' move upward.
  ** 3. '.excerpt' slide-in.
  */
  /*
  ** When clicked '.trigger-btn label' :
  ** 1. '.trigger-btn' move upward & fadeOut
  ** 2. '.direction__*' transfer to full-width
  ** 3. Show '.detials'
  */
}
@media screen and (max-width: 959px) {
  [class*="direction__"] {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
[class*="direction__"]:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
  opacity: 0;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
@media screen and (max-width: 959px) {
  [class*="direction__"]:before {
    opacity: 1;
  }
}
[class*="direction__"]:not(:first-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);

  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
}
@media screen and (max-width: 959px) {
  [class*="direction__"]:not(:first-child):after {
    bottom: inherit;
    width: 100%;
    height: 1px;
  }
}
[class*="direction__"] .trigger-btn,
[class*="direction__"] .excerpt {
  width: 100%;
  max-width: 480px;
  height: 100%;
}

.excerpt .excerpt-icon {
  width: 100px;
  height: auto;
  position: absolute;
  right: 20px;
  top: 240px;
}
.excerpt .btn-white {
  margin: 10px 28px;
}
@media screen and (max-width: 959px) {
  [class*="direction__"] .trigger-btn,
  [class*="direction__"] .excerpt {
    max-width: none;
  }
}
[class*="direction__"] .trigger-btn {
  /* -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
}
@media screen and (max-width: 959px) {
  [class*="direction__"] .trigger-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-bottom: 100px;
  }
}
[class*="direction__"] .trigger-btn label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100vw;
  /* max-width: 186px; */
  height: 170px;
  margin-bottom: 0;
  /* border-bottom: 1px solid currentColor; */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  text-align: center;
  font-size: 26px;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: background-color 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
    opacity 0.5s cubic-bezier(0, 0, 0.18, 1) 0.8s,
    margin-bottom 0.5s cubic-bezier(0, 0, 0.18, 1) 0.8s;
  transition: background-color 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
    opacity 0.5s cubic-bezier(0, 0, 0.18, 1) 0.8s,
    margin-bottom 0.5s cubic-bezier(0, 0, 0.18, 1) 0.8s;
}

@media screen and (max-width: 1599px) {
  [class*="direction__"] .trigger-btn label {
    -webkit-transition: background-color 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
      opacity 0.5s cubic-bezier(0, 0, 0.18, 1) 0.3s,
      margin-bottom 0.5s cubic-bezier(0, 0, 0.18, 1) 0.3s;
    transition: background-color 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
      opacity 0.5s cubic-bezier(0, 0, 0.18, 1) 0.3s,
      margin-bottom 0.5s cubic-bezier(0, 0, 0.18, 1) 0.3s;
  }
}
[class*="direction__"] .trigger-btn label:before,
[class*="direction__"] .trigger-btn label:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 0;
  /* border-style: solid;
  border-color: currentColor; */
  background-color: transparent;
  -webkit-transition: background-color 0.2s cubic-bezier(0, 0, 0.18, 1),
    width 0.15s cubic-bezier(0, 0, 0.18, 1),
    top 0.15s cubic-bezier(0, 0, 0.18, 1) 0.15s;
  transition: background-color 0.2s cubic-bezier(0, 0, 0.18, 1),
    width 0.15s cubic-bezier(0, 0, 0.18, 1),
    top 0.15s cubic-bezier(0, 0, 0.18, 1) 0.15s;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"] .trigger-btn label:before,
  [class*="direction__"] .trigger-btn label:after {
    top: 0;
    width: 50%;
  }
}
[class*="direction__"] .trigger-btn label:before {
  left: 0;
  border-width: 1px 0 0 1px;
}
[class*="direction__"] .trigger-btn label:after {
  right: 0;
  border-width: 1px 1px 0 0;
}
[class*="direction__"] .trigger-btn label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
[class*="direction__"] .excerpt {
  position: absolute;
  top: 10%;
  left: -100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 0.4s cubic-bezier(0, 0, 0.18, 1) 0s;
}
@media screen and (max-width: 959px) {
  [class*="direction__"] .excerpt {
    left: inherit;
    opacity: 1;
  }
}
[class*="direction__"] .excerpt:before {
  content: attr(data-direction-title);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ea5514;
  font-weight: bold;
  font-size: 120px;
  line-height: 1.2em;
  opacity: 0;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;
  -ms-writing-mode: tb-rl;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
@media screen and (max-width: 959px) {
  [class*="direction__"] .excerpt:before {
    display: none;
  }
}
[class*="direction__"] .excerpt h3,
[class*="direction__"] .excerpt h5,
[class*="direction__"] .excerpt p {
  padding-left: 28px;
}
[class*="direction__"] .excerpt h3 {
  display: inline-block;
  position: relative;
  /* border-bottom: 2px solid currentColor; */
  font-size: 50px;
  line-height: 1em;
  letter-spacing: 3px;
  margin-bottom: 0;
  font-weight: bold;
}
[class*="direction__"] .excerpt h5 {
  font-size: 30px;
  margin-top: 0;
  font-weight: lighter;
  line-height: 50px;
}
/* [class*="direction__"] .excerpt h3:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 100%;
  width: 10px;
  height: 10px;
  border: 2px solid currentColor;
  border-radius: 50%;
} */
[class*="direction__"] .excerpt p {
  position: relative;
  max-width: 416px;
  font-size: 20px;
  padding-right: 28px;
}
[class*="direction__"] .excerpt p[lang="en"] {
  font-weight: 300;
  line-height: 1.25em;
  font-family: Arapey, serif;
}
/* [class*="direction__"] .excerpt p:nth-of-type(1):before {
  content: "";
  display: block;
  position: absolute;
  top: 0.75em;
  left: 0;
  right: 28px;
  z-index: -1;
  height: 0.75em;
  background-color: #ea5514;
} */
[class*="direction__"] .details {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"] .details {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-top: 72px;
    background-color: #222;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-overflow-scrolling: touch;
  }
}
[class*="direction__"] .details .close-btn {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 97;
  width: 80px;
  height: 72px;
  background: url(../img/close.svg) center center no-repeat;
  font-size: 0;
  line-height: 0;
}
[class*="direction__"] .details .grid-box {
  display: grid;
  -ms-grid-columns: 9fr 80px 7fr;
  grid-template-columns: 9fr 80px 7fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 120px 20px 120px 60px;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"] .details .grid-box {
    margin: 60px;
    padding: 60px 0 60px 60px;
  }
}
@media screen and (max-width: 1279px) {
  [class*="direction__"] .details .grid-box {
    margin: 40px;
    padding: 40px 0 40px 40px;
  }
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box {
    -ms-grid-columns: 1fr 50%;
    grid-template-columns: 1fr 50%;
    grid-gap: 20px;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}
@media screen and (max-width: 479px) {
  [class*="direction__"] .details .grid-box {
    margin: 20px;
  }
}
[class*="direction__"] .details .grid-box h4,
[class*="direction__"] .details .grid-box p,
[class*="direction__"] .details .grid-box img,
[class*="direction__"] .details .grid-box .landscape-thumb {
  opacity: 0;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: all 1s cubic-bezier(0, 0, 0.18, 1) 0s;
}
[class*="direction__"] .details .grid-box.illust--main img {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}
[class*="direction__"] .details .grid-box.wording--sub h4,
[class*="direction__"] .details .grid-box.wording--sub p {
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
}
[class*="direction__"] .details .grid-box h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
}
[class*="direction__"] .details .grid-box p {
  font-size: 15px;
  line-height: 2em;
}
[class*="direction__"] .details .grid-box .illust--main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  margin-right: -160px;
  margin-bottom: -40px;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .illust--main {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .illust--main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
[class*="direction__"] .details .grid-box .illust--main:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -60px;
  right: 140px;
  bottom: 0;
  left: -60px;
  border: 3px solid #ea5514;
  border-bottom: 0;
}
@media screen and (max-width: 1279px) {
  [class*="direction__"] .details .grid-box .illust--main:before {
    top: -40px;
    right: 120px;
    bottom: 0;
    left: -40px;
  }
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .illust--main:before {
    display: none;
  }
}
[class*="direction__"] .details .grid-box .illust--main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
[class*="direction__"] .details .grid-box .wording--main {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  z-index: 1;
  padding: 40px 40px 40px 120px;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .wording--main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .wording--main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px 0;
  }
}
[class*="direction__"] .details .grid-box .wording--main h4 small {
  display: block;
  color: #ea5514;
  font-size: 90%;
}
[class*="direction__"] .details .grid-box .wording--main h4 mark {
  display: inline-block;
  color: #fff;
  position: relative;
  margin-left: -80px;
  padding: 0 40px 0 80px;
  background-color: transparent;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .wording--main h4 mark {
    padding-right: 10px;
  }
}
[class*="direction__"] .details .grid-box .wording--main h4 mark:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.75em;
  left: 0;
  right: 0;
  z-index: -1;
  height: 1em;
  background-color: #ea5514;
}
[class*="direction__"] .details .grid-box .wording--sub {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-column: 1/2;
  grid-row: 2/4;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .wording--sub {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .wording--sub {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
[class*="direction__"] .details .grid-box .wording--sub .container {
  position: relative;
  padding: 80px 40px 0 0;
}
@media screen and (max-width: 1279px) {
  [class*="direction__"] .details .grid-box .wording--sub .container {
    padding-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .wording--sub .container {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .wording--sub .container {
    padding: 20px 0;
  }
}
[class*="direction__"] .details .grid-box .wording--sub .container:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 40px;
  right: -20px;
  bottom: -60px;
  left: -60px;
  border: 3px solid #ea5514;
  border-top: 0;
}
@media screen and (max-width: 1279px) {
  [class*="direction__"] .details .grid-box .wording--sub .container:before {
    right: -40px;
    bottom: -40px;
    left: -40px;
  }
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .wording--sub .container:before {
    display: none;
  }
}
[class*="direction__"] .details .grid-box .illust--sub {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-column: 3/4;
  grid-row: 2/3;
  -ms-flex-item-align: start;
  align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .illust--sub {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-column: 2/3;
    grid-row: 2/4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .illust--sub {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 4/5;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 375px) {
  [class*="direction__"] .details .grid-box .illust--sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
[class*="direction__"] .details .grid-box .illust--sub img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .illust--sub img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  [class*="direction__"] .details .grid-box .illust--sub img:nth-of-type(1) {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  [class*="direction__"] .details .grid-box .illust--sub img:nth-of-type(2) {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .illust--sub img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    width: 0;
  }
}
@media screen and (max-width: 375px) {
  [class*="direction__"] .details .grid-box .illust--sub img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}
[class*="direction__"] .details .grid-box .illust--sub img + img {
  margin-left: 20px;
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .illust--sub img + img {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .illust--sub img + img {
    margin-left: 20px;
    margin-top: 0;
  }
}
@media screen and (max-width: 375px) {
  [class*="direction__"] .details .grid-box .illust--sub img + img {
    margin-left: 0;
    margin-top: 20px;
  }
}
[class*="direction__"] .details .grid-box .landscape-thumb {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-column: 3/4;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 0;
  margin-top: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"] .details .grid-box .landscape-thumb {
    height: auto;
  }
}
@media screen and (max-width: 1023px) {
  [class*="direction__"] .details .grid-box .landscape-thumb {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: -20px;
  }
}
@media screen and (max-width: 767px) {
  [class*="direction__"] .details .grid-box .landscape-thumb {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-column: 1/2;
    grid-row: 5/6;
    margin-top: 0;
  }
}
[class*="direction__"] .details .grid-box .landscape-thumb:before {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-bottom: 192px;
  background-color: rgba(0, 0, 0, 0.5);
}
[class*="direction__"] .details .grid-box .landscape-thumb:after {
  content: attr(title);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 186px;
  height: 52px;
  padding: 16px 20px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
}
[class*="direction__"] .details .grid-box .landscape-thumb img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
[class*="direction__"]:hover:before {
  opacity: 1;
}
[class*="direction__"]:hover .trigger-btn {
  padding-bottom: 100px;
}
@media (hover: hover) {
  [class*="direction__"]:hover .trigger-btn label:before,
  [class*="direction__"]:hover .trigger-btn label:after {
    top: 0%;
    width: 50%;
    -webkit-transition: top 0.15s cubic-bezier(0, 0, 0.18, 1),
      width 0.15s cubic-bezier(0, 0, 0.18, 1) 0.15s;
    transition: top 0.15s cubic-bezier(0, 0, 0.18, 1),
      width 0.15s cubic-bezier(0, 0, 0.18, 1) 0.15s;
  }
}
[class*="direction__"]:hover .excerpt {
  left: 0;
  opacity: 1;
}
[class*="direction__"]:hover .excerpt:before {
  bottom: 40px;
  opacity: 0.3;
}
[class*="direction__"].active {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"].active {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    z-index: 97;
    overflow: visible;
  }
}
@media screen and (max-width: 959px) {
  [class*="direction__"].active {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
[class*="direction__"].active:before {
  opacity: 1;
}
[class*="direction__"].active:not(:first-child):after {
  opacity: 0;
}
[class*="direction__"].active .trigger-btn {
  padding-bottom: 100px;
}
[class*="direction__"].active .trigger-btn label {
  opacity: 0;
  margin-bottom: 100px;
  -webkit-transition: background-color 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
    opacity 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
    margin-bottom 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
  transition: background-color 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
    opacity 0.5s cubic-bezier(0, 0, 0.18, 1) 0s,
    margin-bottom 0.5s cubic-bezier(0, 0, 0.18, 1) 0s;
}
[class*="direction__"].active .excerpt {
  left: 0;
  opacity: 1;
}
[class*="direction__"].active .excerpt:before {
  bottom: 40px;
  opacity: 0.3;
}
[class*="direction__"].active .details {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"].active .details {
    overflow-y: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}
[class*="direction__"].active .details h4,
[class*="direction__"].active .details p,
[class*="direction__"].active .details img,
[class*="direction__"].active .details .landscape-thumb {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
[class*="direction__"].active .details .illust--main img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
[class*="direction__"].active .details .illust--sub img:nth-child(1) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
[class*="direction__"].active .details .illust--sub img:nth-child(2) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
[class*="direction__"].active .details .wording--main h4,
[class*="direction__"].active .details .wording--main p {
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
[class*="direction__"].active .details .wording--sub h4,
[class*="direction__"].active .details .wording--sub p {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
@media screen and (max-width: 1599px) {
  [class*="direction__"].active .details .illust--main img {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  [class*="direction__"].active .details .illust--sub img:nth-child(1) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  [class*="direction__"].active .details .illust--sub img:nth-child(2) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }
  [class*="direction__"].active .details .wording--main h4,
  [class*="direction__"].active .details .wording--main p {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  [class*="direction__"].active .details .wording--sub h4,
  [class*="direction__"].active .details .wording--sub p {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  [class*="direction__"].active .details .landscape-thumb {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }
}
/*video*/

.bg-video {
  background: url(../images/index/bg-video.jpg) no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  overflow-x: hidden;
}
.ui-tabs-vertical {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: 0.2em 0.1em 0.2em 0.2em;
  display: flex;
  flex-direction: column;
  width: 43vw;
}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
  background: rgba(255, 255, 255, 0.2);
  height: calc(100vh / 3);
  color: white;
}
.ui-tabs-vertical .ui-tabs-nav li .text {
  width: 60%;
  margin: 0 auto;
  padding-top: 10vh;
  font-size: clamp(1.2rem, 2.5vw, 2.8rem);
}
.ui-tabs-vertical .ui-tabs-nav li h6 {
  color: white;
  border: 1.5px solid #fff;
  padding: 3px 8px;
  font-weight: 500;
  font-size: clamp(1rem, 1.6vw, 1.8rem);
  margin: 0;
  width: 150px;
  text-align: center;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  color: white !important;
  font-size: clamp(2rem, 2.6vw, 2.8rem);
  margin: 0 auto;
  width: 100%;
  height: calc(100vh / 3);
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: 0.1em;
  border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
  width: 50vw;
  text-align: center;
  padding-top: 8%;
  margin: 0 auto;
}
.ui-tabs-vertical .ui-tabs-panel .videobox {
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
}
.ui-tabs-vertical .ui-tabs-panel .videobox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tabcontent .videobox {
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 auto;
}
.tabcontent .videobox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*news*/
.bg-news {
  background: url(../images/index/bg-news.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 950px;
  padding: 20px 0;
  overflow-x: hidden;
}
.bg-news h2 {
  font-size: clamp(3rem, 18vw, 4rem);
  text-align: center;
  font-weight: bold;
}
.news-list-bg {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.index-news-list {
  background: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  color: #333;
  margin: 10px;
  padding: 15px;
  position: relative;
  cursor: pointer;
}
.index-news-list a {
  color: #333;
}
// .index-news-list h5 {
//   font-size: 30px;
//   line-height: 30px;
//   margin: 0;
// }
// .index-news-list span {
//   font-size: 25px;
// }
.index-news-list {
  h6 {
    font-size: clamp(1rem, 1.2vw, 1.8rem);
    font-weight: 500;
  }
  h5 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin: 0;
    line-height: clamp(1rem, 1.5vw, 2rem);
  }
  p {
    font-size: 18px;
    line-height: 20px;
  }
}
.news-m {
  margin: 50px 0;
}
.news-m img {
  width: 100%;
}
.news-m .d-flex {
  display: flex;
  flex-direction: row;
}
// .news-label::before {
//   width: 100px;
//   height: 20px;
//   border-radius: 5px;
//   background: #1367fe;
//   content: "Exhibition";
//   color: #fff;
//   font-size: 14px;
//   line-height: 18px;
//   display: block;
//   position: absolute;
//   padding: 5px 10px;
//   text-align: center;
//   top: 370px;
//   left: 30px;
// }
.news-label-tab {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background: #1367fe;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
  top: 370px;
  left: 30px;
}
// .news-label-s::before {
//   width: 80px;
//   height: 20px;
//   border-radius: 5px;
//   background: #1367fe;
//   content: "Exhibition";
//   color: #fff;
//   font-size: 14px;
//   line-height: 18px;
//   display: block;
//   position: absolute;
//   padding: 5px 10px;
//   text-align: center;
//   top: 125px;
//   left: 30px;
// }
// .news-m .index-news-list h5 {
//   font-size: 23px;
//   line-height: 25px;
//   margin: 0;
// }
// .news-m .index-news-list span {
//   font-size: 23px;
// }
/*contact*/
.bg-contact {
  background: url(../images/index/bg-contact.jpg) no-repeat bottom #000;
  background-size: 100%;
  width: 100%;
  min-height: 1200px;
}
.bg-contact h3 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}
.bg-contact p {
  color: #000;
}
.bg-contact h2 {
  font-size: clamp(3rem, 18vw, 4rem);
  text-align: center;
  font-weight: bold;
  padding-top: 10%;
}
.tab__content .d-flex {
  display: flex;
}

/* btn */
.btn-white {
  border: 1px solid #fff;
  padding: 10px 0;
  text-align: center;
  width: 100px;
  margin: 10px auto;
  cursor: pointer;
}
/*section*/
section {
  height: 100vh;
  position: relative;
  // &:nth-of-type(1) {
  //   background-color: #2d314a;
  // }
  // &:nth-of-type(2) {
  //   background-color: #3c91b6;
  // }
  // &:nth-of-type(3) {
  //   background-color: #6fc7bb;
  // }
  // &:nth-of-type(4) {
  //   background-color: #e59780;
  // }
  &:nth-of-type(5) {
    height: 130vh;
  }
}
@media screen and (max-width: 1440px) {
  section {
    &:nth-of-type(5) {
      height: 185vh;
    }
  }
  .bg-contact {
    background: url(../images/index/bg-contact.jpg) no-repeat -300px 100px #000;
  }
}
@media screen and (max-width: 1680px) {
  .news-label::before {
    top: 38vh;
  }
}
@media screen and (max-width: 1366px) {
  section {
    &:nth-of-type(5) {
      height: 125vh;
    }
  }
  .news-label::before {
    top: 30vh;
  }
}
@media screen and (max-width: 1280px) {
  section {
    &:nth-of-type(5) {
      height: 185vh;
    }
  }
  .news-m {
    margin: 20px 0;
  }
  .m-y-2 {
    margin: 10px 10px !important;
  }
}
@media screen and (max-width: 1200px) {
  section {
    height: auto;
    &:nth-of-type(5) {
      height: 150vh;
    }
  }
}
@media screen and (max-width: 1024px) {
  section {
    &:nth-of-type(5) {
      height: 160vh;
    }
  }
}

@media screen and (max-width: 988px) {
  section {
    &:nth-of-type(5) {
      height: 210vh;
    }
  }
}
/*contact*/
$max-tab-count: 5;
$tab-wrap-border-radius: 6px;
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: $tab-wrap-border-radius;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 40px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  // &:hover {
  //   box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  // }
}

.tab {
  display: none;
  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      opacity: 1;
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      position: relative;
      top: 0;
      z-index: 8;
      transform: translateY(0px);
      text-shadow: 0 0 0;
      width: 100%;
    }
  }
  &:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0;
    position: absolute;
    top: -50px;
    width: 50%;
  }
  &:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  &:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 0;
    position: absolute;
    top: -50px;
    width: 50%;
    right: 0;
  }
  &:checked + label {
    background-color: rgba(255, 255, 255, 0.7);
    // box-shadow: 0 -1px 0 rgba(143, 143, 143, 0.6) inset;
    color: #333333;
    cursor: default;

    &:hover {
      // box-shadow: 0 -1px 0 #fff inset;
      color: #333333;
      background-color: #fff;
    }
  }
  + label {
    // box-shadow: 0 -1px 0 #eee inset;
    border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    flex-grow: 3;
    text-align: center;
    background-color: rgba(199, 199, 199, 0.7);
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    // padding: 15px;
    font-size: 20px;
    line-height: 48px;
    font-weight: bold;

    &:hover {
      background-color: #f9f9f9;
      color: #333333;
      // box-shadow: 0 1px 0 #f4f4f4 inset;
    }
  }
  &__content {
    padding: 25px 50px;
    background-color: transparent;
    position: absolute;
    // width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: $tab-wrap-border-radius;
  }
}

.container {
  margin: 0 auto;
  display: block;
  max-width: 800px;
  padding-bottom: 80px;
  > *:not(.tab-wrap) {
    padding: 0 80px;
  }
}
.tab__content {
  color: #333333;
  font-size: 14px;
  .text-red {
    color: #d0021b;
  }
  input[type="text"],
  select {
    width: 100%;
    height: 44px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #707070;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
  }

  input[type="submit"] {
    width: 20%;
    background-color: #d0021b;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 20px;
  }

  input[type="submit"]:hover {
    background-color: #d0021b;
  }
  input:focus {
    color: #333333;
  }
}

@media screen and (max-width: 1024px) {
  .bg-pro-img {
    overflow: hidden;
  }
  .excerpt img {
    width: 70%;
  }
  [class*="direction__"] .excerpt h3 {
    font-size: 30px;
  }
  [class*="direction__"] .trigger-btn label {
    font-size: 20px;
  }
  .excerpt .excerpt-icon {
    right: 0;
    top: 150px;
  }
  .pro-feature-1 {
    right: 15px;
    top: 20px;
    height: 120px;
  }
  .pro-feature-2 {
    background: url(../images/index/pro-feature-2.png) no-repeat -60px 50px;
    right: 0px;
    top: 250px;
    padding: 0px 0 0 110px;
  }
  .pro-feature-3 {
    background: url(../images/index/pro-feature-3.png) no-repeat right 0px;
    left: 130px;
    top: 320px;
    padding: 90px 0 0 0px;
    font-size: 30px;
    width: 380px;
    height: 140px;
  }
  .pro-feature-4 {
    background: url(../images/index/pro-feature-4.png) no-repeat 176px 0px;
    left: 38px;
    top: 140px;
    padding: 0px 20px 0 0px;
    font-size: 30px;
    width: 280px;
    height: 140px;
  }
  .bg-pro {
    background-size: 100% 100%;
  }
  .business-bg-1 img,
  .business-bg-2 img,
  .business-bg-3 img {
    width: 90%;
  }
  .new-list {
    margin: 0 auto;
    width: 100%;
  }
  .banner-text h3 {
    font-size: 95px;
  }
  .banner-text h5 {
    font-size: 68px;
  }
}
@media screen and (max-width: 834px) {
  .excerpt img {
    width: 40%;
  }
  .excerpt .excerpt-icon {
    right: 0;
    top: 150px;
    width: 200px;
  }
  .excerpt .btn-white {
    margin: 120px auto 0 auto;
  }
  [class*="direction__"] .excerpt p,
  [class*="direction__"] .excerpt h3,
  [class*="direction__"] .excerpt h5 {
    display: none;
  }
  [class*="direction__"] .trigger-btn label {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .pro-feature-1 {
    top: -5px;
    height: 98px;
  }
  .pro-feature-2 {
    background: url(../images/index/pro-feature-5.png) no-repeat left -10px;
    padding: 110px 0 0 0px;
    right: 25px;
    top: 210px;
  }
  .pro-feature-3 {
    background: url(../images/index/pro-feature-3.png) no-repeat right -10px;
    left: 97px;
    top: 225px;
    padding: 90px 0 0 0px;
    width: 260px;
    height: 140px;
  }
  .pro-feature-4 {
    background: url(../images/index/pro-feature-4.png) no-repeat 135px 0px;
    left: 38px;
    top: 98px;
    width: 218px;
  }
  .bg-pro {
    height: 700px;
  }
  .business-bg-1,
  .business-bg-2,
  .business-bg-3 {
    height: 60vh;
  }
  .new-list {
    display: block;
  }
  .new-item {
    width: 70%;
    margin: 20px auto;
    background: #fff;
    text-align: center;
  }
  .banner-text h3 {
    font-size: 85px;
  }
  .banner-text h5 {
    font-size: 58px;
  }
  .news-m .d-flex {
    flex-direction: column;
  }
  .tab__content .d-flex {
    display: flex;
    flex-direction: column;
  }
  .tab__content {
    padding: 25px 30px;
  }
  .tab__content input[type="submit"] {
    width: 100%;
  }
  .p-t-7 {
    padding-top: 0;
  }
  .bg-contact {
    background-size: cover;
  }
  .news-list-bg {
    width: 90%;
  }

  .index-news-list .m-l-2 {
    margin-left: 0;
  }
  .news-label-s::before {
    top: 440px;
  }
  .news-label-s {
    margin-bottom: 20px;
  }

  .section-direction [class*="direction__"] {
    height: 520px;
  }
  .tabcontent {
    height: 480px;
  }
  .news-m {
    margin: 20px auto;
  }
  /*video*/
  .ui-tabs-vertical {
    flex-direction: column;
  }
  .ui-tabs-vertical .ui-tabs-nav {
    flex-direction: row;
    width: 100vw;
  }
  .ui-tabs-vertical .ui-tabs-panel {
    width: 100vw;
  }
  .ui-tabs-vertical .ui-tabs-nav li .text {
    width: 90%;
    padding: 1vh 0;
  }
  .ui-tabs-vertical .ui-tabs-nav li h6 {
    border: 1.5px solid #fff;
    margin: 0;
    width: auto;
    text-align: center;
  }
  .ui-tabs-vertical .ui-tabs-nav li,
  .ui-tabs-vertical .ui-tabs-nav li a {
    height: auto;
  }

  .bg-video {
    display: flex;
    flex-direction: column;
    background: url(../images/index/bg-video.jpg) no-repeat center bottom;
    background-size: 100%;
  }
  .video-tab {
    display: flex;
    flex-direction: row;
    width: 100%;
    h6 {
      width: 100%;
      padding: 3px 0px;
    }
    button {
      padding: 10px;
      height: 100px;
    }
    button {
      &:nth-of-type(2) {
        margin: 0 1px;
      }
    }
  }
  .tabcontent {
    width: 100vw;
  }
}
@media (orientation: portrait), (max-width: 1024px) {
  section {
    height: auto;
    &:nth-of-type(5) {
      height: 100vh;
    }
  }
}
@media (orientation: portrait), (max-width: 834px) {
  section {
    height: auto;
    &:nth-of-type(5) {
      height: 125vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-direction [class*="direction__"] {
    height: 480px;
  }
  section {
    height: auto;
    &:nth-of-type(5) {
      height: 140vh;
    }
  }
}
@media screen and (max-width: 600px) {
  .excerpt .btn-white {
    margin: 160px auto 0 auto;
  }
  [class*="direction__"] .trigger-btn label {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .news-label-s::before {
    top: 360px;
  }
  .bg-contact h2 {
    padding-top: 20%;
  }
  section:nth-of-type(5) {
    height: 150vh;
  }
}
@media screen and (max-width: 570px) {
  .news-label-s::before {
    top: 240px;
  }
  .excerpt .btn-white {
    margin: 192px auto 0 auto;
  }
  .bg-pro-img {
    background: url(../images/index/pro-feature.png) no-repeat center 100px;
    background-size: 80vw;
  }
  .bg-pro-img p {
    font-size: 14px;
  }
  .pro-feature-1 {
    background: url(../images/index/pro-feature-1.png) no-repeat 120px 80px;
    top: 55px;
    height: 143px;
  }
  .pro-feature-2 {
    background: url(../images/index/pro-feature-5.png) no-repeat 55px -20px;
    padding: 52px 0 0 0px;
    top: 350px;
  }
  .pro-feature-3 {
    background: url(../images/index/pro-feature-3.png) no-repeat right -50px;
    left: 37px;
    top: 310px;
    padding: 58px 0 0 0px;
  }
  .pro-feature-4 {
    background: url(../images/index/pro-feature-6.png) no-repeat 172px bottom;
    top: 12px;
    height: 200px;
  }
  .support-item {
    font-size: 18px;
  }
  section {
    &:nth-of-type(5) {
      height: 200vh;
    }
  }
}
@media screen and (max-width: 414px) {
  #WebGL-output {
    height: 500px;
  }
  [class*="direction__"] .trigger-btn label {
    font-size: 26px;
    padding-bottom: 20px;
  }
  .bg-pro-img {
    background-size: 80vw;
  }
  .pro-feature-1 {
    background: none;
    right: 10px;
    top: 220px;
    padding: 0px 0 0 0px;
    font-size: 30px;
    width: 90%;
    height: 200px;
  }

  .pro-feature-2 {
    background: none;
    right: 10px;
    top: 350px;
    padding: 0px 0 0 0px;
    font-size: 30px;
    width: 90%;
    height: 200px;
    z-index: 2;
  }
  .pro-feature-3 {
    background: none;
    left: 30px;
    top: 400px;
    padding: 90px 0 0 0px;
    font-size: 30px;
    width: 90%;
    height: 200px;
    z-index: 2;
  }
  .pro-feature-4 {
    background: none;
    left: 30px;
    top: 635px;
    padding: 0px 0 0 0px;
    font-size: 30px;
    width: 90%;
    height: 200px;
    z-index: 2;
  }
  .business-bg-1,
  .business-bg-2,
  .business-bg-3 {
    height: 50vh;
  }
  .business-bg-1 img,
  .business-bg-2 img,
  .business-bg-3 img {
    width: 80%;
  }
  /* new */
  .bg-new {
    background: url(../images/index/bg-pic-04.jpg) no-repeat top;
    margin: 50px 0;
    padding-top: 100px;
  }

  .new-item {
    width: 90%;
    margin: 20px auto;
    background: #fff;
    text-align: center;
  }

  .excerpt .excerpt-icon {
    top: 155px;
  }
  .excerpt .btn-white {
    margin: 230px auto 0 auto;
  }
  .bg-pro {
    height: 950px;
  }
  .banner-text h3 {
    font-size: 50px;
  }
  .banner-text h5 {
    font-size: 34px;
    line-height: 40px;
  }
}
@media screen and (max-width: 375px) {
  [class*="direction__"] .trigger-btn label {
    padding-bottom: 60px;
  }
  .bg-pro {
    height: 1000px;
  }
  .bg-pro-img {
    height: 120vh;
  }
  .banner-text h3 {
    font-size: 45px;
  }
  .banner-text h5 {
    font-size: 30px;
    line-height: 30px;
  }
  .support-item {
    font-size: 16px;
  }
  .news-label-s::before {
    top: 215px;
  }
  section {
    &:nth-of-type(5) {
      height: 225vh;
    }
  }
}
