#main {
  margin-top: 140px;
}
nav {
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(
    to right,
    #00d08a 20%,
    #20adf7 70%,
    #1be0e0 100%
  );
  border-image-slice: 1;
  .list-content .menu > ul > li a {
    padding: 1.4em 1em;
  }
  .list-content .menu > ul > li:hover {
    background: #59cfff;
    color: #000;
  }
  .list-content .menu > ul > li a:hover {
    background: #59cfff;
    color: #000;
  }
  .list-content .menu > ul > li > ul {
    background: #d0d0d0;
  }
  .list-content .menu > ul > li > ul > li a {
    color: #000;
  }
  .list-content .menu > ul > li > ul > li > ul > li a,
  .list-content .menu > ul > li > ul > li > ul > li a:hover {
    color: rgb(92, 91, 91);
    line-height: 18px;
  }
  .list-content .menu > ul > li > ul > li {
    border-top: 1px solid #b9b9b9;
    padding-top: 10px;
  }
  .logo {
    padding: 1.6em 1em 0 1em;
  }
}
/*text*/
.text-gray {
  color: rgba(255, 255, 255, 0.6);
}
.text-lightgray {
  color: rgba(255, 255, 255, 0.8);
}
.text-green {
  color: rgba(27, 224, 224, 1);
}
/*add*/
#header {
  top: 70px;
  height: 200px;
  h1 {
    font-size: 60px;
    color: #000;
  }
  .solutions-header {
    background: #1be0e0;
    height: 100%;
    padding-left: 28px;
  }
  .global-header {
    background: #ff5860;
    height: 100%;
    padding-left: 28px;
  }
  .pro-header {
    background: #ffbc54;
    height: 100%;
    padding-left: 28px;
  }
  .news-header {
    background: #45e1fd;
    height: 100%;
    padding-left: 28px;
  }
}
.title-wrapper {
  .big-title {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    h1 {
      text-transform: uppercase;
      margin: 0;
      font-weight: 500;
      text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 80%);
      color: #fff;
      line-height: 60px;
    }
  }
}
.gradual-bg {
  background: linear-gradient(to left, #00d08a 20%, #20adf7 70%, #1be0e0 100%);
}
.support {
  height: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  padding: 20px 0;
}
.support-item {
  display: flex;
  justify-content: center;
  width: 30%;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.support-item {
  .pt {
    padding-top: 20px;
  }
}
.support-item img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/* global */
.contact-main {
  color: #fff;
  margin: 0 auto;
}
.contact-item {
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.contact-item {
  &:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.contact-item {
  h3 {
    font-size: 28px;
    margin-top: 0px;
  }
}
.contact-item {
  h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.contact-item {
  p {
    line-height: 24px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
  }
}
#searchMap {
  background: url(../images/global-map.png) no-repeat;
  margin-bottom: 50px;
  opacity: 0.8;
}
/*product*/
.table-pro {
  display: flex;
  justify-content: space-between;
  .table-list {
    width: 18%;
    margin-top: 1em;
    ul {
      li {
        color: #b9b9b9;
        line-height: 42px;
        border-bottom: 1px solid rgba(187, 187, 187, 0.3);
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .table-wrap {
    width: 80%;
  }
}
/*map*/
.map-select {
  display: flex;
  justify-content: space-between;
  select {
    width: 32%;
  }
}

@media screen and (max-width: 414px) {
  .support {
    height: 50px;
  }
  .support-item {
    font-size: 16px;
    line-height: 20px;
  }
  .support-item .pt {
    padding-top: 6px;
  }
  .map-select {
    display: block;
    justify-content: space-between;
    select {
      width: 100%;
    }
  }
  .table-pro {
    display: block;
    .table-list {
      width: 100%;
    }
    .table-wrap {
      width: 100%;
    }
  }
}
