#main {
  margin-top: 140px;
}

nav {
  border: 1px solid transparent;
  border-width: 0 0 1px 0;
  -o-border-image: linear-gradient(to right, #00d08a 20%, #20adf7 70%, #1be0e0 100%);
     border-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #00d08a), color-stop(70%, #20adf7), to(#1be0e0));
     border-image: linear-gradient(to right, #00d08a 20%, #20adf7 70%, #1be0e0 100%);
  border-image-slice: 1;
}

nav .list-content .menu > ul > li a {
  padding: 1.4em 1em;
}

nav .list-content .menu > ul > li:hover {
  background: #59cfff;
  color: #000;
}

nav .list-content .menu > ul > li a:hover {
  background: #59cfff;
  color: #000;
}

nav .list-content .menu > ul > li > ul {
  background: #d0d0d0;
}

nav .list-content .menu > ul > li > ul > li a {
  color: #000;
}

nav .list-content .menu > ul > li > ul > li > ul > li a,
nav .list-content .menu > ul > li > ul > li > ul > li a:hover {
  color: #5c5b5b;
  line-height: 18px;
}

nav .list-content .menu > ul > li > ul > li {
  border-top: 1px solid #b9b9b9;
  padding-top: 10px;
}

nav .logo {
  padding: 1.6em 1em 0 1em;
}

/*text*/
.text-gray {
  color: rgba(255, 255, 255, 0.6);
}

.text-lightgray {
  color: rgba(255, 255, 255, 0.8);
}

.text-green {
  color: #1be0e0;
}

/*add*/
#header {
  top: 70px;
  height: 200px;
}

#header h1 {
  font-size: 60px;
  color: #000;
}

#header .solutions-header {
  background: #1be0e0;
  height: 100%;
  padding-left: 28px;
}

#header .global-header {
  background: #ff5860;
  height: 100%;
  padding-left: 28px;
}

#header .pro-header {
  background: #ffbc54;
  height: 100%;
  padding-left: 28px;
}

#header .news-header {
  background: #45e1fd;
  height: 100%;
  padding-left: 28px;
}

.title-wrapper .big-title {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.title-wrapper .big-title h1 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
  text-shadow: 0em 0em 0.2em white;
  color: #fff;
  line-height: 60px;
}

.gradual-bg {
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #00d08a), color-stop(70%, #20adf7), to(#1be0e0));
  background: linear-gradient(to left, #00d08a 20%, #20adf7 70%, #1be0e0 100%);
}

.support {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0;
}

.support-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.support-item .pt {
  padding-top: 20px;
}

.support-item img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/* global */
.contact-main {
  color: #fff;
  margin: 0 auto;
}

.contact-item {
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.contact-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.contact-item h3 {
  font-size: 28px;
  margin-top: 0px;
}

.contact-item h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-item p {
  line-height: 24px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

#searchMap {
  background: url(../images/global-map.png) no-repeat;
  margin-bottom: 50px;
  opacity: 0.8;
}

/*product*/
.table-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-pro .table-list {
  width: 18%;
  margin-top: 1em;
}

.table-pro .table-list ul li {
  color: #b9b9b9;
  line-height: 42px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.3);
  cursor: pointer;
}

.table-pro .table-list ul li:hover {
  color: #fff;
}

.table-pro .table-wrap {
  width: 80%;
}

/*map*/
.map-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-select select {
  width: 32%;
}

@media screen and (max-width: 414px) {
  .support {
    height: 50px;
  }
  .support-item {
    font-size: 16px;
    line-height: 20px;
  }
  .support-item .pt {
    padding-top: 6px;
  }
  .map-select {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .map-select select {
    width: 100%;
  }
  .table-pro {
    display: block;
  }
  .table-pro .table-list {
    width: 100%;
  }
  .table-pro .table-wrap {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */